/* pink #FBF2F2 */
/* pink-fade #F3D8D8 */
/* grey #4a4a4a */

@font-face {
	font-family: 'Gotham Book';
	src: url('fonts/Gotham-Book.otf');
}
@font-face {
	font-family: 'Gotham Book Italic';
	src: url('fonts/Gotham-BookItalic.otf');
}
@font-face {
	font-family: 'Gotham Light';
	src: url('fonts/Gotham-Light.otf');
}
@font-face {
	font-family: 'Gotham Light Italic';
	src: url('fonts/Gotham-LightItalic.otf');
}

a:focus, a:visited, a:active, a:hover {
	text-decoration: none;
}
a:visited {
	color: inherit;
}

h1 {
	font-family: 'Gotham Light';
	font-size: 16px;
	margin: 0;
	padding: 0;
	color: #ff94b1;
}
h2 {
	font-family: 'Gotham Light';
	font-size: 28px;
	margin: 0;
	padding: 0 0 1px 0;
	margin: 0 0 3px 0;
	color: #4a4a4a;
}
h3 {
	font-family: 'Gotham Light';
	font-size: 20px;
	margin: 0;
	padding: 0;
	color: #4a4a4a;
	margin: 5px 0 2px 0;
}
p {
	font-family: 'Gotham Book';
	font-size: 13px;
	margin: 0;
	padding: 0;
	color: #4a4a4a;
}

* , *:before, *:after{ 
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-ms-box-sizing:border-box;
	margin: 0;
	padding: 0;
}

html, body {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	border: none;
	background-color: white;
	overflow: hidden;
}

div[ui-view] {
	width: 100%;
	height: 100%;
}

div.page-container {
	width: 100%;
	height: 100%;
	overflow: scroll;
	position: relative;
}
div.page-container::-webkit-scrollbar { 
    display: none; 
}

div.page {
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: relative;
}

div.info-box {
	height: 200px;
	width: 400px;
	position: absolute;
	left: 0;
	bottom: 10%;
}

div.title-container {
	width: 100%;
	max-width: 1200px;
	padding: 20px 10% 0 10%;
	margin: auto;
	position: relative;
}
div.title-box {
	position: absolute;
	left: 0;
	top: 0;
}

span.nav {
	margin: auto;
	height: 35px;
}
span.nav.down {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: 0;
}
span.nav.up {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}
span.nav.left {
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
}
span.nav.right {
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
}
.nav.left i, .nav.right i {
	margin: auto;
	font-size: 27px;
	width: 100%;
	transform: scaleY(2.0);
	text-align: center;
	transition: 1.5s;
	color: #4a4a4a;
}
.nav.left i:hover, .nav.right i:hover {
	transition: 1.5s;
	color: white;
	transform: scale(1.5,3.0);
	cursor: pointer;
}
.nav.down i, .nav.up i {
	margin: auto;
	font-size: 27px;
	width: 100%;
	transform: scaleX(2.0);
	text-align: center;
	transition: 1.5s;
	color: #4a4a4a;
}
.nav.down i:hover, .nav.up i:hover {
	transition: 1.5s;
	color: white;
	transform: scale(3.0,1.5);
	cursor: pointer;
}

div.wrapper {
	width: 100%;
	height: 100%;
	position: relative;
	margin: 0;
	padding: 0;
	border: none;
}

div.page.splash {
	background: #FBF2F2 url('/img/eb2d98f71767ce0fe53c925b7efb26a7c4b7c30f.png') no-repeat top right;
}
div.page.projects {
	height: auto;
	min-height: 100%;
}

div.center-container {
	margin: auto;
	width: 100%;
	max-width: 1200px;
	height: 100%;
	padding: 10% 10% 10% 10%;
}
div.center-container.extra-height {
	padding: 5% 10% 5% 10%;
}

div.project-container {
	width: 32%;
	display: inline-block;
}

div.project-container:nth-child(3n - 2) {
	margin: 3% 1% 0 0;
}
div.project-container:nth-child(3n - 1) {
	margin: 3% 1% 0 1%;
}
div.project-container:nth-child(3n - 0) {
	margin: 3% 0 0 1%;
}
div.project {
	width: 100%;
	background-color: white;
}
.project img {
	width: 100%;
	height: auto;
	background-color: white;
}
.project img:hover {
	cursor: pointer;
}

div.page.brief {
	background-color: #FBF2F2;
}

h2.underline {
	width: 235px;
	border-bottom: 1px solid #4a4a4a;
}
p.summary {
	font-style: italic;
}

.images div.wrapper {
	overflow-x: scroll;
}
.images div.wrapper::-webkit-scrollbar { 
    display: none; 
}
.images div.images-container {
	height: 100%;
	overflow: hidden;
}
.images div.image-container {
	height: 100%;
	display: inline-block;
}
.images .image-container img {
	width: 100%;
	position: absolute;
	top: 50%;
	transform: translate(-50%,-50%);
	left: 50%;
}
.images .image-container img:hover {
	cursor: pointer;
}
div.inner {
	width: 100%;
	height: 100%;
	position: relative;
}

.splash h2 {
	margin-bottom: 4px;
}
p.desc {
	margin-top: 4px;
	width: 200px;
}

div.footer {
	height: 70px;
	width: 100%;
	background-color: #FBF2F2;
}

div.footer-container {
	width: 100%;
	max-width: 1200px;
	padding: 20px 10% 0 10%;
	margin: auto;
	position: relative;
}

.footer p {
	font-size: 11px;
}

img {
	transition: 0.5s;
}
img:hover {
	transition: 1s;
	transform: scale(1.05);
}