* , *:before, *:after{ 
	box-sizing:border-box; 
	-moz-box-sizing:border-box; 
	-webkit-box-sizing:border-box; 
	-ms-box-sizing:border-box;
	margin: 0;
	padding: 0;
}

html, body {
	width: 100% !important;;
	height: 100% !important;;
	padding: 0 !important;
	margin: 0 !important;
	border: none;
	background-color: #aaa;
	overflow: hidden;
}

div.center-container {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
}
div.wrapper {
	background-color: #ccc;
	width: 100%;
	height: 100%;
	position: relative;
}
div.content {
	background-color: #ddd;
	width: 100%;
	height: 100%;
	position: relative;
	height: 95%;
}
i {
	background-color: #eee;
}

div[ui-view] {
	width: 100% !important;
	height: 100% !important;
}

div.background.splash {
	width: 100%;
	height: 100%;
	background-color: #aaa;
	padding: 10%;
	position: relative;
}
.splash h1 {
	text-align: center;
}
.splash p {
	text-align: center;
	margin-top: 35px;
}
.splash i.down-nav {
	text-align: center;
	font-size: 25px;
	transition: all .8s ease;
	width: 100%;
}
.splash i.down-nav:hover {
	transform: scale(2);
	cursor: pointer;
	color: white;
}

div.background.projects {
	width: 100%;
	height: 100%;
	background-color: #aaa;
	padding: 5%;
	position: relative;
}

.projects i.up-nav {
	text-align: center;
	font-size: 25px;
	transition: all .8s ease;
	width: 100%;
}
.projects i.up-nav:hover {
	transform: scale(2);
	cursor: pointer;
	color: white;
}

div.project-container {
	width: 33%;
	height: 50%;
	padding: 5px;
	float: left;
}
div.project {
	width: 100%;
	height: 100%;
	background-color: #fff;
	border-radius: 20px;
	position: relative;
}
div.project:hover {
	cursor: pointer;
}
.project div.img {
	width: 100%;
	background-color: #ccc;
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
}
.project div.summary {
	width: 100%;
	background-color: #ccc;
	position: absolute;
	left: 0;
	bottom: 20px;
}

div.background.fullproject {
	width: 100%;
	height: 100%;
	background-color: #aaa;
	padding: 1%;
	position: relative;
}
.fullproject div.wrapper {
	padding: 1%;
}
.fullproject div.content {
	overflow: scroll;
}
.fullproject div.content::-webkit-scrollbar { 
    display: none; 
}
.fullproject div.title {
	width: 100%;
	margin: auto;
	background-color: #bbb;
}
.fullproject h2 {
	text-align: center;
}
.fullproject div.summary {
	width: 100%;
	margin: auto;
	background-color: #bbb;
}
.fullproject div.img {
	width: 100%;
	padding: 25px;
	margin-top: 25px;
	background-color: #ccc;
}
.fullproject img {
	width: 100%;
	height: 500px;
	background-color: #fff;
}

