/* pink #FBF2F2 */
/* pink-fade #F3D8D8 */
/* grey #9b9b9b */

@font-face {
	font-family: 'Gotham Book';
	src: url('fonts/Gotham-Book.otf');
}
@font-face {
	font-family: 'Gotham Book Italic';
	src: url('fonts/Gotham-BookItalic.otf');
}
@font-face {
	font-family: 'Gotham Light';
	src: url('fonts/Gotham-Light.otf');
}
@font-face {
	font-family: 'Gotham Light Italic';
	src: url('fonts/Gotham-LightItalic.otf');
}

* , *:before, *:after{ 
	box-sizing:border-box; 
	-moz-box-sizing:border-box; 
	-webkit-box-sizing:border-box; 
	-ms-box-sizing:border-box;
	margin: 0;
	padding: 0;
}

html, body {
	width: 100% !important;;
	height: 100% !important;;
	padding: 0 !important;
	margin: 0 !important;
	border: none;
	background-color: white;
	overflow: hidden;
}

p, i, h1, h2, h3, h4, h5 {
	color: #9b9b9b;
}

p {
	font-family: 'Gotham Light';
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Gotham Book';
}


div.center-container {
	position: absolute;
	left: 0;
	top: 0;
}
div.wrapper {
	width: 100%;
	height: 100%;
	position: relative;
}
div.content {
	width: 100%;
	height: 100%;
	position: relative;
	height: 95%;
}

div[ui-view] {
	width: 100% !important;
	height: 100% !important;
}

div.background.splash {
	width: 100%;
	height: 100%;
	background-color: #FBF2F2;
	padding: calc(5% + 25px);
	position: relative;
}
.splash h1 {
	margin: 0;
}
.splash p {
	margin: 0;
}
.splash i.down-nav {
	text-align: center;
	font-size: 25px;
	transition: all .8s ease;
	width: 100%;
}
.splash i.down-nav:hover {
	transform: scale(2);
	cursor: pointer;
	color: white;
}

div.background.projects {
	width: 100%;
	height: 100%;
	background-color: white;
	padding: 5%;
	position: relative;
}
.projects .content {
	position: absolute;
	bottom: 0;
	height: auto;
}
.projects i.up-nav {
	text-align: center;
	font-size: 25px;
	transition: all .8s ease;
	width: 100%;
}
.projects i.up-nav:hover {
	transform: scale(2);
	cursor: pointer;
	color: white;
}

div.project-container {
	width: 33%;
	padding: 0 25px 25px 25px;
	float: left;
}
div.project {
	width: 100%;
	position: relative;
}
div.project:hover {
	cursor: pointer;
}
.project div.img {
	width: 100%;
	height: 200px;
	background-color: #FBF2F2;
}
.project div.summary {
	width: 100%;
	position: relative;
}

div.background.fullproject {
	width: 100%;
	height: 100%;
	padding: 1%;
	position: relative;
}
.fullproject div.wrapper {
	padding: 1%;
}
.fullproject div.content {
	overflow: scroll;
}
.fullproject div.content::-webkit-scrollbar { 
    display: none; 
}
.fullproject div.title {
	width: 100%;
	margin: auto;
}
.fullproject h2 {
	text-align: center;
}
.fullproject div.summary {
	width: 100%;
	margin: auto;
}
.fullproject div.img {
	width: 100%;
	padding: 25px;
	margin-top: 25px;
}
.fullproject img {
	width: 100%;
	height: 500px;
}

