<div class="home page-container">

	<div class="splash page">
		<div class="center-container">
			<div class="wrapper">
				<div class="info-box">
					<h2>{{ title }}</h2>
					<p>{{ introduction }}</p>
				</div>
			</div>
		</div>
		

		<span class="nav down" ng-click="scrollBottom()">
			<i class="glyphicon glyphicon-menu-down"></i>
		</span>
	</div>

	<div class="projects page">

		<div class="center-container projects">

			<div ng-repeat="project in projects" class="project-container">
				<div class="project">
					<img ng-src="{{ project.img.src }}" ng-click="openProject( project.anchor )">
					<h3>{{ project.title }}</h3>
					<p>{{ project.summary }}</p>
				</div>
			</div>

		</div>

	</div>

	<div class="footer">
		<div class="footer-container">
			<div class="wrapper">
				<p>Lucia Opaterna</p>
				<p>luckaopaterna@gmail.com</p>
			</div>
		</div>
	</div>
</div>

