<div class="brief page-container">

	<div class="brief page">
		<div class="center-container">
			<div class="wrapper">
				<div class="info-box">
					<h2 class="underline">{{ project.title }}</h2>
					<p>{{ project.summary }}</p>
					<p class="desc">{{ project.description }}</p>
				</div>
			</div>
		</div>

		<span class="nav down" ng-click="scrollBottom()">
			<i class="glyphicon glyphicon-menu-down"></i>
		</span>
	</div>

	<div class="images page">
		<div class="center-container">
			<span class="nav left" ng-disabled="show_nav_left" ng-click="navLeft()">
				<i class="glyphicon glyphicon-menu-left"></i>
			</span>
			<span class="nav right" ng-disabled="show_nav_right" ng-click="navRight()">
				<i class="glyphicon glyphicon-menu-right"></i>
			</span>
			<div class="wrapper">
				<div class="images-container">
					<div class="image-container" ng-repeat="image in project.images">
						<div class="inner">
							<img src="/img/square_test.jpg">
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>

	<div class="footer">
		<div class="footer-container">
			<div class="wrapper">
				<p>Lucia Opaterna</p>
				<p>luckaopaterna@gmail.com</p>
			</div>
		</div>
	</div>
</div>

